<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/bower_components/semantic-ui/dist/semantic.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="easy-interview"></div>
  </body>
  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/bower_components/react/react-with-addons.js"></script>
  <script type="text/javascript" src="/bower_components/react/JSXTransformer.js"></script>
  <script type="text/javascript" src="/bower_components/flux/dist/Flux.js"></script>
  <script type="text/javascript" src="/bower_components/react-router/build/umd/ReactRouter.js"></script>
  <script type="text/javascript" src="/bower_components/semantic-ui/dist/semantic.min.js"></script>
  <script type="text/javascript" src="/bower_components/microevents/microevent.js"></script>
  <script type="text/javascript" src="/javascripts/auth_service.js"></script>
  <script type="text/javascript" src="/javascripts/app_dispatcher.js"></script>
  <script type="text/javascript" src="/javascripts/login_store.js"></script>
  <script type="text/javascript" src="/javascripts/login_actions.js"></script>
  <script type="text/jsx" src="/javascripts/navbar_component.js"></script>
  <script type="text/jsx" src="/javascripts/dashboard_component.js"></script>
  <script type="text/jsx" src="/javascripts/signup_component.js"></script>
  <script type="text/jsx" src="/javascripts/login_component.js"></script>
  <script type="text/jsx" src='/javascripts/new_question_component.js'></script>
  <script type="text/jsx" src="/javascripts/home_component.js"></script>
  <script type="text/jsx" src="/javascripts/main_router.js"></script>
</html>
