body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar * {
  display: inline;
}

a {
  color: #00B7FF;
}

.form .button {
  margin: 0 20px 0 0;
}

.action-item {
  margin-top: 15px;
}